Microsoft.Flow/flows/a747cf28-dcac-40c9-85ee-2eb8295d3231/definition.json
{"name":"8374b3f3-9f09-43cb-890a-a34ef38e78c5","id":"/providers/Microsoft.Flow/flows/8374b3f3-9f09-43cb-890a-a34ef38e78c5","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"CambiosAPIs-to-list","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"31db642f-3452-45b2-9b13-4109e1235324","type":"User","tenantId":"6856181f-daf8-4725-ac51-dd9f7dfe2f2b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-06-30T04:55:02.8423603Z","connectionKeySavedTimeKey":"2025-06-30T04:55:02.8423603Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Cuando_llega_un_nuevo_correo_electrónico_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"fa5e116f-effb-4cb6-a1a3-d9ee827bcc2b"},"type":"OpenApiConnectionNotification","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"OnNewEmailV3"},"parameters":{"folderPath":"Inbox","includeAttachments":false,"importance":"Any","fetchOnlyWithAttachment":false},"authentication":"@parameters('$authentication')"}}},"actions":{"Obtener_correos_electrónicos_(V3)":{"runAfter":{},"metadata":{"operationMetadataId":"04b6f6cb-b732-4d37-8ce9-2124c07c941f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"GetEmailsV3"},"parameters":{"folderPath":"Inbox","from":"urielrre@gmail.com","fetchOnlyUnread":true,"includeAttachments":false,"top":10,"importance":"Any","fetchOnlyWithAttachment":false},"authentication":"@parameters('$authentication')"}},"Aplicar_a_cada_uno":{"foreach":"@outputs('Obtener_correos_electrónicos_(V3)')?['body/value']","actions":{"Html_a_texto":{"runAfter":{},"metadata":{"operationMetadataId":"6d0d54a4-ebc0-45a3-aad8-f025736aa03d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"parameters":{"Content":"<p>@{items('Aplicar_a_cada_uno')?['body']}</p>"},"authentication":"@parameters('$authentication')"}},"Ejecutar_una_solicitud":{"runAfter":{"Html_a_texto":["Succeeded"]},"metadata":{"operationMetadataId":"977a4407-4f4e-492e-8c02-c5846244851f","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_customprompt","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_customprompt"},"parameters":{"recordId":"4e72b59a-17d6-451e-8657-89fbdec56d7a","item/requestv2/inputText":"@body('Html_a_texto')","item/requestv2/entityToBeExtracted":"Extrae del siguiente correo los valores asociados a estas variables:\n\nNombre de la API\nVersión anterior\nVersión nueva\nFecha de despliegue\nResponsable del cambio\nEndpoints nuevos\nEndpoints modificados\nEndpoints eliminados\nNotas adicionales\nSi alguna variable no está presente o no tiene valor, pon \"NA\".\n\nDevuelve solo un JSON con las variables y sus valores.","item/requestv2/additionalContext":"{\n  \"Nombre de la API\": \"User Management API\",\n  \"Versión anterior\": \"NA\",\n  \"Versión nueva\": \"v1.3.0\",\n  \"Fecha de despliegue\": \"NA\",\n  \"Responsable del cambio\": \"Juan Pérez\",\n  \"Endpoints nuevos\": \"NA\",\n  \"Endpoints modificados\": \"NA\",\n  \"Endpoints eliminados\": \"NA\",\n  \"Notas adicionales\": \"Se mejoró la seguridad en el login.\"\n}\n"},"authentication":"@parameters('$authentication')"}},"Redactar":{"runAfter":{"Ejecutar_una_solicitud":["Succeeded"]},"metadata":{"operationMetadataId":"ad470bb4-9ee9-4de3-a3e8-9d52f98ec5d7"},"type":"Compose","inputs":"@substring(\n  string(outputs('Ejecutar_una_solicitud')?['body']?['responsev2']?['predictionOutput']?['text']),\n  indexOf(string(outputs('Ejecutar_una_solicitud')?['body']?['responsev2']?['predictionOutput']?['text']), '{'),\n  sub(\n    length(string(outputs('Ejecutar_una_solicitud')?['body']?['responsev2']?['predictionOutput']?['text'])),\n    indexOf(string(outputs('Ejecutar_una_solicitud')?['body']?['responsev2']?['predictionOutput']?['text']), '{')\n  )\n)\n"},"Análisis_del_archivo_JSON":{"runAfter":{"Redactar":["Succeeded"]},"metadata":{"operationMetadataId":"ff7bc34d-bc2e-45d4-9c9f-809401e43bd2"},"type":"ParseJson","inputs":{"content":"@outputs('Redactar')","schema":{"type":"object","properties":{"extracted_data":{"type":"object","properties":{"Nombre de la API":{"type":"object","properties":{"value":{"type":"string"},"type":{"const":"string"}},"required":["value","type"]},"Versión anterior":{"type":"object","properties":{"value":{"type":"string"},"type":{"const":"string"}},"required":["value","type"]},"Versión nueva":{"type":"object","properties":{"value":{"type":"string"},"type":{"const":"string"}},"required":["value","type"]},"Fecha de despliegue":{"type":"object","properties":{"value":{"type":"string"},"type":{"const":"string"}},"required":["value","type"]},"Responsable del cambio":{"type":"object","properties":{"value":{"type":"string"},"type":{"const":"string"}},"required":["value","type"]},"Endpoints nuevos":{"type":"object","properties":{"value":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"type":{"enum":["string","array"]}},"required":["value","type"]},"Endpoints modificados":{"type":"object","properties":{"value":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"type":{"enum":["string","array"]}},"required":["value","type"]},"Endpoints eliminados":{"type":"object","properties":{"value":{"type":"string"},"type":{"const":"string"}},"required":["value","type"]},"Notas adicionales":{"type":"object","properties":{"value":{"type":"string"},"type":{"const":"string"}},"required":["value","type"]}},"required":["Nombre de la API","Versión anterior","Versión nueva","Fecha de despliegue","Responsable del cambio","Endpoints nuevos","Endpoints modificados","Endpoints eliminados","Notas adicionales"],"additionalProperties":false}},"required":["extracted_data"],"additionalProperties":false}}},"Crear_elemento":{"runAfter":{"Análisis_del_archivo_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"fdfb6511-df5a-4768-bf06-0b8da105fba4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://estintecedu-my.sharepoint.com/personal/1121630_est_intec_edu_do","table":"7b0bcac1-3973-427f-851f-ec81f3412f65","item/Title":"@body('Análisis_del_archivo_JSON')['extracted_data']['Nombre de la API']['value']","item/OData__x00da_ltimaversi_x00f3_n":"@body('Análisis_del_archivo_JSON')['extracted_data']['Versión anterior']['value']","item/Nuevaversi_x00f3_n":"@body('Análisis_del_archivo_JSON')['extracted_data']['Versión nueva']['value']","item/Fechadespliegue":"@body('Análisis_del_archivo_JSON')['extracted_data']['Fecha de despliegue']['value']","item/Responsable":"@body('Análisis_del_archivo_JSON')['extracted_data']['Responsable del cambio']['value']","item/Endpointsnuevos":"@body('Análisis_del_archivo_JSON')['extracted_data']['Endpoints nuevos']['value']","item/Endpointsmodificados":"@body('Análisis_del_archivo_JSON')['extracted_data']['Endpoints modificados']['value']","item/Endpointseliminados":"@body('Análisis_del_archivo_JSON')['extracted_data']['Endpoints eliminados']['value']","item/Notas":"@body('Análisis_del_archivo_JSON')['extracted_data']['Notas adicionales']['value']"},"authentication":"@parameters('$authentication')"}},"Marcar_como_leído_o_como_no_leído_(V3)":{"runAfter":{"Crear_elemento":["Succeeded"]},"metadata":{"operationMetadataId":"7ba89895-c373-42ed-b0b9-bf0839003683"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"MarkAsRead_V3"},"parameters":{"messageId":"@triggerOutputs()?['body/id']","body/isRead":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Obtener_correos_electrónicos_(V3)":["Succeeded"]},"metadata":{"operationMetadataId":"ca412f5a-4a6d-4829-88cd-2185801c486c"},"type":"Foreach"}},"description":""},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-a4ef0a80-65dd-44e8-b646-9c2f1b0e5040","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_commondataserviceforapps":{"connectionName":"shared-commondataser-86790b2c-894a-41d0-af8d-c4c2b79654ae","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified","apiName":"commondataserviceforapps","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_conversionservice":{"connectionName":"shared-conversionser-e5e72a0c-9650-46a1-9d69-c34514027b4b","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","tier":"NotSpecified","apiName":"conversionservice","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-ff0bec4e-abba-491d-92a8-41ccf083f9bb","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}